.form {
  color: #777;
  background-color: #f9f9f9;
  font-size:16px;
  padding: 1rem;
}

.form fieldset {
  display: grid;
	border: medium none !important;
	margin:0 0 5px;
	padding:10px;
  width: 100%;
}

.form textarea {
  min-height: 2em;
  height:10em;
  resize:vertical;
}

.form button {
  cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
  margin:0 0 5px;
	padding:10px;
	font-size:15px;
  border-radius: 5px;
}

.title {
  color: #f96;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

.description {
  margin:5px 0 15px;
	display:block;
}

/* Pulse Grow */
@keyframes pulse-grow {
  to {
    transform: scale(1.05);
  }
}
.pulse-grow {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.pulse-grow:hover, .pulse-grow:focus, .pulse-grow:active {
  animation-name: pulse-grow;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}